---
import Layout from '../layouts/Layout.astro';
---

<Layout title="DMCA Takedown Notice Procedure" description="How to submit a DMCA takedown notice to Myrient.">
  <h1>DMCA Takedown Notice Procedure</h1>

  <h4>"Piracy is almost always a service problem and not a pricing problem." - Gabe Newell</h4>

  <p>Myrient is an archival site offering organized and publicly available video game collections with the intention of keeping them from becoming lost to time. Myrient does not contain content for current generation video game systems. Unlike other sites, Myrient does not make a profit via advertisements, subscriptions, donations, or any other means. Thank you for considering the potential benefits of this truly free service as you submit your notice.</p>

  <p>If you believe that your work has been copied in a way that constitutes copyright infringement on our website, please provide the following information to Myrient's Copyright Agent and acknowledge the following guidelines:</p>

  <ul>
    <li>A physical or electronic signature of the person authorized to act on behalf of the copyright owner</li>
    <li>Identification of where the original copyrighted work is located</li>
    <li>Identification of where the infringing material is located on our website by providing a maximum of 10 URLs to a direct download and not an information page in the body of an email</li>
    <li>The full name, mailing address, telephone number, and email address of the copyright owner or an authorized agent</li>
    <li>A statement by the copyright owner or an authorized agent that upon a good faith belief, the disputed use of the material is not authorized by the copyright owner, its agent, or the law</li>
    <li>A statement that under penalty of perjury, the information in the notice is accurate and you are the copyright owner or authorized to act on behalf of the copyright owner</li>
    <li>A scanned physical document that proves you are the copyright owner or authorized to act on behalf of the copyright owner</li>
    <li>A valid email address such as username@copyrightcompany and not one from free email services (Gmail, Hotmail, iCloud, etc.) to help prove you are the copyright owner or authorized to act on behalf of the copyright owner</li>
    <li>An email in plain text (no rich text such as HTML) sent to dmca (at) erista (dot) me, sending an email to our ISPs means your notice will not be processed</li>
    <li>Access to content files, not information pages, may be restricted as only content files might or might not violate someone's copyright</li>
    <li>Personal or attorney notices will not be processed, they must come from companies or dmca/eucd agents</li>
  </ul>

  <p>Myrient reserves the right to evaluate the legitimacy of notices received and will ignore and discard notices with invalid, incorrect, or omitted information. Notices may be shared with third parties for transparency purposes.</p>
</Layout>
