---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Non-Affiliation Disclaimer" description="Myrient is not endorsed by or affiliated with any video game developer or publisher.">
  <h1>Non-Affiliation Disclaimer</h1>

  <p>This website is not endorsed by, directly affiliated with, maintained, authorized, or sponsored by any video game developer or publisher. All product and company names are the registered trademarks of their original owners. The use of any trade name or trademark is for identification and reference purposes only and does not imply any association with the trademark holder of their product brand.</p>
</Layout>
